<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
    <a href="#"> <title>Girl_Power</title></a>


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

 
</head>

<body>

  
  <!-- Header -->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Girl_Power</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#login">Log In</a></li>
          <li class="menu-active"><a href="#signup">Sign Up</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

    </div>
  </header>
  <!-- #header -->

  <!-- Intro Section -->
 
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/1.jpeg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Why She_Will ?</h2>
                <p>
                  First and foremost because women are amazing, strong, caring, passionate, and loyal problem solvers!
                   “Women in tech” has become a hot topic, and it is an important one. More important is diversity in 
                   general. Having men AND women, AND people from different backgrounds working in tech and around
                    innovation is essential to building the best product, growing a company and doing good in general.
                     Having different backgrounds, mindsets, challenges, privileges, world-views, political 
                     affiliations, fashion choices, and family dynamics around the same table solving a problem is 
                     a guaranteed formula for success. So, if you want more successful businesses/
                     tech…have more women and have a diverse group period.
                </p>
                <a href="#about" class="btn-get-started scrollto">Get Started !!</a>               
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Why Only for WOMEN ?</h2>
                <p>
                    First and foremost because women are amazing, strong, caring, passionate, and loyal problem solvers!
                    “Women in tech” has become a hot topic, and it is an important one. More important is diversity in 
                    general. Having men AND women, AND people from different backgrounds working in tech and around
                     innovation is essential to building the best product, growing a company and doing good in general.
                      Having different backgrounds, mindsets, challenges, privileges, world-views, political 
                      affiliations, fashion choices, and family dynamics around the same table solving a problem is 
                      a guaranteed formula for success. So, if you want more successful businesses/
                      tech…have more women and have a diverse group period.
                  
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/3.webp" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Women Graph</h2>
                <p>
                    Women in technology were especially well-represented. Ratings for the leadership effectiveness of women versus men were the most pronounced
                    in information technology, where women had a percentile score of 52.1 compared to 42.0 for men. In addition to information technology, 
                    the largest gaps came in other male-dominated functions like engineering, research and development, legal, product development, and sales.
                    Females were rated more positively in 12 of the top 16 job functions surveyed.
                    <br />
                    Other findings revealed that female leaders were ranked better than male leaders. That held true for leadership effectiveness
                    by position and top competencies. Note that on survey items for competencies, females scored significantly more positive on 36 of 49
                     items, compared to two items for men. The remaining survey items were neutral.
                    </p>
                <a href="#graph" class="btn-get-started scrollto">Graph !! </a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/4.webp" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Services</h2>
                <p>
                    Girl_Power provides a variety of communications, marketing communications and public relations services. We work closely with 
                    you and your team to develop and help execute plans, programs and projects utilizing in-house expertise, as well as external
                     resources by proviing vrious kind of tech Ted-Talks, Issues,and News for women awarenss for randing companies,competetions
                      and other technology awareness purpose.
                </p>
                <a href="#services" class="btn-get-started scrollto">Services ..</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section>
  <!-- #intro -->

  <main id="main">
    <!--About Us Section-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>
              Women Empowering Nations is a nonprofit organization with a mission to provide exposure and mentorship
               for girls of color in underserved communities to develop them into socially conscious global leaders.   
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#about">Our Mission</a></h2>
              <p>
                  Promoting social and economic empowerment of women through cross-cuting policies and programmes, mainstreaming gender concerns, creating awareness about their rights and facilitating institutional and legislative support for enabling them realize their human rights and develop to their full potential
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#about">Our Plan</a></h2>
              <p>

                  The opinion that acknowledge women to work in Tech is solely a PR effort by companies and that doing so is damaging to a company’s 
                  ctivity and bottom line is a dangerous one. Especially when you consider the opposite is proven to be true by a wide array of 
                  data-driven sources.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#about">Our Vision</a></h2>
              <p>
                <br />
                  Empowered women living with dignity and contributing as equal partners in development in an 
                  environment free from violence and discrimination. And, wellnurtured children with full
                   opportunities for growth and development in a safe and protective environment.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- #about -->


     <!--graph Section-->
     <section id="graph">
        <div class="container">
  
          <header class="section-header">
            <h3>Graphs</h3>
            <p>
                Women in technology were especially well-represented. Ratings for the leadership effectiveness of women versus men were the most pronounced
                 in information technology, where women had a percentile score of 52.1 compared to 42.0 for men. In addition to information technology, 
                 the largest gaps came in other male-dominated functions like engineering, research and development, legal, product development, and sales.
                  Females were rated more positively in 12 of the top 16 job functions surveyed.
                
            </p>  
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-6   about-col img">
                  <img src="img/graph/1.png" alt="" class="img-fluid"> 
            </div>
  
            <div class="col-md-6  about-col img">
                  <img src="img/graph/3.png" alt="" class="img-fluid">
            </div>
  
            <div class="col-md-6  about-col img">
                  <img src="img/graph/3.png" alt="" class="img-fluid">    
            </div>

            <div class="col-md-6  about-col img" >
                    <img src="img/graph/4.png" alt="" class="img-fluid">         
              </div>
  
          </div>
  
        </div>
      </section>
      <!-- #graph -->


    <!--Services Section-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>
              Girl_Power provides a variety of communications, marketing communications and public relations services. We work closely with 
              you and your team to develop and help execute plans, programs and projects utilizing in-house expertise, as well as external
               resources by proviing vrious kind of tech Ted-Talks, Issues,and News for women awarenss for randing companies,competetions
                and other technology awareness purpose.
                </p>
        </header>

        <div class="row">

          <div class="col-lg-6 col-md-12 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="#services">NEWS</a></h4>
            <p class="description">
                The importance of technology cannot be underestimated; the technological industries are probably the fastest moving in the world following 
                news stories is vital because technology can cover all manner of industries and hence news stories vary greatly in subject matter.                 
              </p>
          </div>
          <div class="col-lg-6 col-md-12 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="#services">SUCCESS STORIES</a></h4>
            <p class="description">
                A Success Story is an account of the achievement of success by a person or an organisation.
                 The Success Story is a great successful performance, often unexpectedly or in spite of unfavourable
                  conditions, often by making a lot of money.
              </p>
          </div>
          <div class="col-lg-6 col-md-12 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="#services">ISSUES</a></h4>
            <p class="description">
                PROBLEM-SOLVING IS A UNIVERSAL JOB SKILL THAT APPLIES TO ANY POSITION AND EVERY INDUSTRY. WHILE EVERYONE IS TASKED WITH SOME FORM OF PROBLEM-SOLVING IN THEIR WORKPLACE, NOT ALL EMPLOYEES ARE GOOD AT IT.
              </p>
          </div>
          <div class="col-lg-6 col-md-12 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="#services">TED TALKS </a></h4>
            <p class="description">
                A suite of short, carefully prepared talks, demonstrations and performances that are idea-focused, and cover a wide 
                range of subjects to foster learning, inspiration and wonder – and provoke conversations that matter.
              </p>
          </div>
         

        </div>

      </div>
    </section>
    <!-- #services -->



    <!-- Clients Section-->
    <!-- <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="img/clients/client-1.png" alt="">
          <img src="img/clients/client-2.png" alt="">
          <img src="img/clients/client-3.png" alt="">
          <img src="img/clients/client-4.png" alt="">
          <img src="img/clients/client-5.png" alt="">
          <img src="img/clients/client-6.png" alt="">
          <img src="img/clients/client-7.png" alt="">
          <img src="img/clients/client-8.png" alt="">
        </div>

      </div>
    </section> -->
    <!-- #clients -->


    <!--Team Section-->
    <!-- <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div> 
    </section> -->
    
    <!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <!-- <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section> -->
    <!-- #contact -->

  </main>

  <!--Footer-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Girl_Power</h3>
            <p>
                <!-- "If you educate a man, you educate a family and a village. <br />To educate a woman, you empower a nation." -->
                "Here's to strong women.
                <br  />
                May we know them.
                <br />
                 May we be them.
                 <br />
                 May we raise them."
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms and Conditions</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-lg-1 col-md-6 ">

          </div>
          

          <div class="col-lg-4 col-md-6 footer-contact footer-links">
            <h4>Contact Us</h4>
            <p>
              xyz,xyz<br>
              India<br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> girl_power@gmail.com<br>
              <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#contact">Contact Form</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#team">Our Team</a></li>
              </ul>

            </p>

            <div class="social-links">
                &ensp;&ensp;&ensp;&ensp;&ensp;
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Girl_Power</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://girl_power.com/">Girl Power</a>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <!-- back to top -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!--  Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
