.bg {
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  /* display: flex */
  height: 45%;
  width: 45%;
  border-radius: 70%;
  border-image: 10%;
  color: black;
  /* justify-content: center; */
  margin-left: 50%;
}
.mobilepage
{
  display:none;
  
}
@media only screen and (max-width: 600px) {
  .webpage {
     display: none;
  }
  .mobilepage
  {
    display: flex;
    align-self:center;
    justify-content: center;
    margin-top: 20%;
  }
} 